.fonts .fonts-bg{
    
}
.fonts ul li {
    list-style: none;
    padding-bottom: 15px
}
.fonts ul li i{
    font-size: 25px;
    padding-left: 12px;
}
.fonts ul h4{

    margin-top: 4px;
}
.hero-section ul li {
    list-style: none;
}
.font-style{
    margin-left: 225px;
    margin-top: -250px;
}
.font-style ul li{
    margin-left: -130px;
}
.font-style ul li i{
    font-size: 13px;
}
.font-style ul li a{
    font-size: 22px;
}
.font-style h3{
    font-size: 20px;
    padding-left: 120px;
}
.form-1{
    padding-left: 85px;
}